<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to("HOME", "/") %>
    <%= link_to("新規作成","/posts/new") %>
    <%= yield %>
  </body>
</html>
